*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1, h2 { font-family: 'Annie Use Your Telescope', cursive;}

h1{
  color: black;
  text-align: center;
  font-size: 100px;
  padding-top: 50px;
}

.indexbody h2 {
  display: inline-block;
  padding-top: 100px;
}
.heading {
  display: flex;
  justify-content: space-around;
}
a {
  color: black;
  text-decoration: underline;
}
.logo-image {
  margin-top: 25px;
  height: 170px;
  float: left;
}
.titleimage {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.description{
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: justify;
  line-height: 1.7;
  font-size: 18px;
  font-weight: bold;
  color:black;
}

.citation{ text-align: center; }

.indexbody{ background-color: #6f9eaf; }
.aboutbody{ background-color: #292826; }

.aboutbody { color: #DBD5CC; }
.aboutbody h1, .aboutbody h2 a { color: #E8E2D8;}


.img-Container{ display: flex; }

#aboutpic {
  width: 50%;
  float: right;
}

#history {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img-Container img{
    border: 2px solid #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height: auto;
    border-radius: 4px;
}

.img-Container p{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: justify;
    line-height: 1.3;
    font-size:medium;
    font-weight: bold;
    color:#F9D342;
}
