*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1, h2 { font-family: 'Annie Use Your Telescope', cursive;}

.indexbody h1{
  color: black;
  text-align: center;
  font-size: 100px;
  padding-top: 50px;
}

.indexbody h2 {
  display: inline-block;
  padding-top: 100px;
}
.heading {
  display: flex;
  justify-content: space-around;
}
a {
  color: black;
  text-decoration: underline;
}

.logo-image {
  margin-top: 25px;
  height: 170px;
  float: left;
}

.description{
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: justify;
  line-height: 1.7;
  font-size: 18px;
  font-weight: bold;
  color:black;
}

.citation{
text-align: center;
}

.indexbody{ background-color: #6f9eaf; }
.aboutbody{ background-color: #292826; }

.titleimage {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.aboutbody img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: auto;
    border-radius: 4px;
}




.header a{
    text-shadow: 2px 2px red;
    text-decoration: none;
    font-size: x-large;
    text-decoration-line: underline;
}

.img-Container{
    margin-top: 150px;
    display: flex;
}

.img-Container img{
    border: 2px solid #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height: auto;
    border-radius: 4px;
}



.img-Container h2{
    margin-left: 150px;
    color: yellow;
}

.img-Container p{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: justify;
    line-height: 1.3;
    font-size:medium;
    font-weight: bold;
    color:#F9D342;
}
