*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, .subtitle { font-family: 'Annie Use Your Telescope', cursive;}

h1{
  color: black;
  text-align: center;
  font-size: 100px;
  padding-top: 50px;
}

.subtitle {
  font-size: 30px;
  text-align: center;
  margin-left: 70px;
}
.link {
  display: inline-block;
  padding-top: 100px;
  font-size: 22px;
}
.heading {
  display: flex;
  justify-content: space-around;
}
a {
  color: black;
  text-decoration: underline;
}
.logo-image {
  margin-top: 25px;
  height: 170px;
  float: left;
}
.titleimage {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.description{
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: justify;
  line-height: 1.7;
  font-size: 18px;
  font-weight: bold;
  color:black;
}

.citation{
  text-align: center;
  padding: 20px;
 }

.indexbody{ background-color: #6f9eaf; }
.aboutbody{ background-color: #292826; }

.aboutbody, .aboutbody a { color: #DBD5CC; }
.aboutbody h1, .aboutbody .link a { color: #E8E2D8;}

.aboutbody p {line-height: 1.9;}

.right {
  width: 50%;
  float: right;
  margin: 25px;
}

.left {
  width: 50%;
  float: left;
  margin: 25px;
}

.textbox {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 55%;
  padding-bottom: 60px;
  border-bottom: 1px solid #E8E2D8;
}

h2 {
  font-size: 50px;
}

.img-Container{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 55%;
}
.img-Container img{
  display: block;
  width: 80%;
  height: auto;
  border-radius: 4px;
}

.img-Container p{
  width: 80%;
  text-align: left;
  line-height: 1.9;

}
